[defaults]
# ++++++++ Ligue 52 custom config
# see below for default configuration values
inventory = ~/.ansible/hosts.yaml
log_path = ~/.ansible/log/ansible.log
private_key_file = ~/.ssh/rsa_ansible_ligue
# ++++++++ END custom config
